.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  
}

h1 {
  margin-left: 15px;
}

.inputBoxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 20px;
  background-color: beige;
  color:#44516c;
  border-radius: 15px;
  padding: 15px 25px 10px 3px;
  margin: 0px 0px 5px 5px;
}

.fieldEntry {
  margin: 50px;
  padding: 50px;
}

