<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
        }
    </style>

    <title>Playground</title>
</head>

<body>
    <h1>Welcome!</h1>
    <div class="container">
        {% for i in range(0,num) %}
        <div
            style="height: 100px; width: 100px; display: inline-flex; justify-content: space-evenly; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; background-color: {{color}};">
        </div>
        {% endfor %}
    </div>

</body>

</html>