<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">

    <title>Dashboard</title>
</head>

<body>
    <h1> Welcome {{ session["first_name"] }} </h1>


    <div>
        <a href="/recipe/new"> create </a>

        <a href="/logout"> Logout </a>
    </div>

    <p>These are the recipes</p>


        <table>
        <tr>
            <th>Name</th>
            <th>Under 30</th>
            <th>Actions</th>
        </tr>

        {% if recipes != None %}
            {% for recipe in recipes: %}
            <tr>
                <td> {{recipe.name }} </td>

                <td>
                    {% if recipe.under_thirty == 1 %} 
                    Yes
                    {% else: %}
                    No 
                    {% endif %}   
                </td>
                <td>  
                    <a href="/recipe/{{ recipe.id }}"> view instructions </a>

                    {% if recipe.user_id == session[ 'user_id' ] %}
                        <a href="/recipe/edit/{{ recipe.id }}"> edit </a>
                        <a href="/recipe/delete/{{ recipe.id }}"> delete </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td>
                No Recipes Yet
            </td>
        </tr>
        {% endif %}

    </table>

</body>

</html>